{% extends 'prozdo_main/base/base.html' %}
{% load prozdo_main_tags %}

{% block content %}

    <div>
    <a href="{{ obj.get_absolute_url }}">{{ obj }}</a>
    </div>

    <div>
    <h4>{% get_verbose_field_name obj 'body' %}:</h4>
    {{ obj.body }}
    </div>

    <div>
    <h4>{% get_verbose_field_name obj 'features' %}:</h4>
    {{ obj.features }}
    </div>

     <div>
    <h4>{% get_verbose_field_name obj 'indications' %}:</h4>
    {{ obj.indications }}
    </div>

     <div>
    <h4>{% get_verbose_field_name obj 'application_scheme' %}:</h4>
    {{ obj.application_scheme }}
    </div>

     <div>
    <h4>{% get_verbose_field_name obj 'dosage_form' %}:</h4>
    {{ obj.dosage_form }}
    </div>

     <div>
    <h4>{% get_verbose_field_name obj 'contra_indications' %}:</h4>
    {{ obj.contra_indications }}
    </div>

     <div>
    <h4>{% get_verbose_field_name obj 'side_effects' %}:</h4>
    {{ obj.side_effects }}
    </div>

     <div>
    <h4>{% get_verbose_field_name obj 'compound' %}:</h4>
    {{ obj.compound }}
    </div>

    <div>
    <h4>Компоненты:</h4>
    {% for component in obj.components.all %}
   <div> <a href="{{ component.get_absolute_url }}">{{ component }}</a></div>

    {% endfor %}
    </div>

    <div>
    <h4>Формы выпуска:</h4>
    {% for dosage_form in obj.dosage_forms.all %}
   <div> {{ dosage_form }}</div>

    {% endfor %}
    </div>

    <div>
    <h4>Области применения:</h4>
    {% for usage_area in obj.usage_areas.all %}
   <div> {{ usage_area }}</div>

    {% endfor %}
    </div>
    <form method="get">
    {{ comments_options_form.as_p }}
    <input type="submit" value="Отправить">
    </form>
    <div>
    <h4>Отзывы:</h4>
    {% for comment in comments %}

        <div class="full-comment">
        {% get_comment comment%}

        <div class="comment-childs-block">


{% if show_tree %}
    {% get_child_comments %}

{% endif %}
</div>
</div>
    {% endfor %}
    </div>

   {% if comments.count > 0 %}
                    {% include 'prozdo_main/base/_pager.html' %}
                    {% endif %}

<div>

<div id="answer-to-block" class="hidden">
<label>В ответ на:</label><span id="answer-to-span"></span>
 <input type="button" id="clean-answer-to" value="Очистить">
</div>


<form method="post">
{% csrf_token %}
    {{ comment_form.as_p }}

<input type="submit" value="Отправить">
</form>
</div>
<script>
         $(function() {
            $(document).on('click', '.comment-mark-button', function(e) {
                var level = $(this).closest('.single-comment').find('.comment-level').val();
                var pk = $(this).closest('.single-comment').find('.comment-pk').val();
                var targetSpan = $(this).closest('.single-comment').find('.comment-current-mark-span');
                var toHide = $(this).closest('.single-comment').find('.comment-mark-button');
                var toShow = $(this).closest('.single-comment').find('.comment-unmark-button');
                var data = {'pk': pk, 'action': 'comment-mark'};
                commentAjaxAction(data, targetSpan, toHide, toShow);
            });

            $(document).on('click', '.comment-unmark-button', function(e) {
                var level = $(this).closest('.single-comment').find('.comment-level').val();
                var pk = $(this).closest('.single-comment').find('.comment-pk').val();
                var targetSpan = $(this).closest('.single-comment').find('.comment-current-mark-span');
                var toHide = $(this).closest('.single-comment').find('.comment-unmark-button');
                var toShow = $(this).closest('.single-comment').find('.comment-mark-button');
                var data = {'pk': pk, 'action': 'comment-unmark'};
                commentAjaxAction(data, targetSpan, toHide, toShow);
            });



            $(document).on('click', '.comment-complain-button', function(e) {
                var level = $(this).closest('.single-comment').find('.comment-level').val();
                var pk = $(this).closest('.single-comment').find('.comment-pk').val();
                var targetSpan = $(this).closest('.single-comment').find('.comment-current-complain-span');
                var toHide = $(this).closest('.single-comment').find('.comment-complain-button');
                var toShow = $(this).closest('.single-comment').find('.comment-uncomplain-button');
                var data = {'pk': pk, 'action': 'comment-complain'};
                commentAjaxAction(data, targetSpan, toHide, toShow);

            });

            $(document).on('click', '.comment-uncomplain-button', function(e) {
                var level = $(this).closest('.single-comment').find('.comment-level').val();
                var pk = $(this).closest('.single-comment').find('.comment-pk').val();
                var targetSpan = $(this).closest('.single-comment').find('.comment-current-complain-span');
                var toHide = $(this).closest('.single-comment').find('.comment-uncomplain-button');
                var toShow = $(this).closest('.single-comment').find('.comment-complain-button');
                var data = {'pk': pk, 'action': 'comment-uncomplain'};
                commentAjaxAction(data, targetSpan, toHide, toShow);
            });



         function commentAjaxAction(actionData, targetSpan, toHide, toShow){
                $.ajax({
                    type: 'POST',
                    url: '{% url 'history-ajax-save' %}',
                    data: actionData,
                    success: function (data) {
                    targetSpan.html(data);
                    toHide.addClass('hidden');
                    toShow.removeClass('hidden');
                    },
                    error: function (data) {

                    }
                });

                   }


        $(document).on('click', '.answer-to-comment', function(e) {
            var level = $(this).closest('.single-comment').find('.comment-level').val();
            var pk = $(this).closest('.single-comment').find('.comment-pk').val();



            $('#id_parent').val(pk);
                $('#id_body').focus();
                $('#answer-to-block').removeClass('hidden');
                var commentBody = $('#comment-body-level-' + level + '-pk-' + pk).html();
                $('#answer-to-span').html(commentBody);

            });


        $('#clean-answer-to').click(function(e) {
                $('#id_parent').val('');
                $('#answer-to-block').addClass('hidden');
                $('#answer-to-span').html('');

            });


             $(document).on('click', '.show-comment-tree', function(e) {
                var id = this.id;
                var level = $(this).closest('.full-comment').find('.comment-level').val();
                var pk = $(this).closest('.full-comment').find('.comment-pk').val();
                var childsBlock = $(this).closest('.full-comment').find('.comment-childs-block');
                var actionData = {'pk': pk, 'action': 'comment-tree-show'};
                var cur = this;
                 $.ajax({
                    type: 'POST',
                    url: '{% url 'get-comment-tree-ajax' %}',
                    data: actionData,
                    success: function (data) {
                    $(cur).closest('.full-comment').find('.show-comment-tree').addClass('hidden');
                    $(cur).closest('.full-comment').find('.hide-comment-tree').removeClass('hidden');
                    childsBlock.fadeTo('slow', 1, function() {
                    childsBlock.html(data);
                    });
                    },
                    error: function (data) {
                    //childsBlock.html('');
                    }
                });
                 
             });

             $(document).on('click', '.hide-comment-tree', function(e) {
             $(this).closest('.full-comment').find('.comment-childs-block').fadeTo('slow', 0, function () {
             $(this).closest('.full-comment').find('.comment-childs-block').html('');
             });
             $(this).closest('.full-comment').find('.show-comment-tree').removeClass('hidden');
             $(this).closest('.full-comment').find('.hide-comment-tree').addClass('hidden');
             });


             $(document).on('click', '.tiny-comment-show-full, .tiny-comment-hide-full', function(e) {
             var block = $(this).closest('.tiny-comment');
             var cls = $(this).attr('class');
             if (cls=='tiny-comment-show-full') {
                 var action = 'show';
                 var toHide = block.find('.tiny-comment-show-full');
                 var toShow = block.find('.tiny-comment-hide-full');
             }
             else{
                 var action = 'hide';
                 var toHide = block.find('.tiny-comment-hide-full');
                 var toShow = block.find('.tiny-comment-show-full');
             }
             var pk = block.find('.tiny-comment-pk').val();
              $.ajax({
                    type: 'POST',
                    url: '{% url 'comment-get-tiny-ajax' %}',
                    data: {'pk': pk, 'action': action},
                    success: function (data) {
                    block.find('.tiny-comment-body').html(data);
                    toHide.addClass('hidden');
                    toShow.removeClass('hidden');

                    },
                    error: function (data) {
                    }
                });

             });




         });

</script>

{% endblock content %}

