{% extends 'prozdo_main/base/base.html' %}
{% load prozdo_main_tags %}

{% block content %}
<div>
    <a href="{{ obj.get_absolute_url }}">{{ obj }}</a>
    </div>

    <div>
    <h4>{% get_verbose_field_name obj 'body' %}:</h4>
    {{ obj.body }}
    </div>

    <div>
    <h4>{% get_verbose_field_name obj 'features' %}:</h4>
    {{ obj.features }}
    </div>

     <div>
    <h4>{% get_verbose_field_name obj 'indications' %}:</h4>
    {{ obj.indications }}
    </div>

     <div>
    <h4>{% get_verbose_field_name obj 'application_scheme' %}:</h4>
    {{ obj.application_scheme }}
    </div>

     <div>
    <h4>{% get_verbose_field_name obj 'dosage_form' %}:</h4>
    {{ obj.dosage_form }}
    </div>

     <div>
    <h4>{% get_verbose_field_name obj 'contra_indications' %}:</h4>
    {{ obj.contra_indications }}
    </div>

     <div>
    <h4>{% get_verbose_field_name obj 'side_effects' %}:</h4>
    {{ obj.side_effects }}
    </div>

     <div>
    <h4>{% get_verbose_field_name obj 'compound' %}:</h4>
    {{ obj.compound }}
    </div>

    <div>
    <h4>Компоненты:</h4>
    {% for component in obj.components.all %}
   <div> <a href="{{ component.get_absolute_url }}">{{ component }}</a></div>

    {% endfor %}
    </div>

    <div>
    <h4>Формы выпуска:</h4>
    {% for dosage_form in obj.dosage_forms.all %}
   <div> {{ dosage_form }}</div>

    {% endfor %}
    </div>

    <div>
    <h4>Области применения:</h4>
    {% for usage_area in obj.usage_areas.all %}
   <div> {{ usage_area }}</div>

    {% endfor %}
    </div>
    <form method="get">
    {{ comments_options_form.as_p }}
    <input type="submit" value="Отправить">
    </form>
    <div>
    <h4>Отзывы:</h4>
    {% for comment in comments %}
        {% get_comment comment%}

{% if show_tree %}
    {% get_child_comments %}

{% endif %}

    {% endfor %}
    </div>
<div>

<div id="answer-to-block" class="hidden">
<label>В ответ на:</label><span id="answer-to-span"></span>
 <input type="button" id="clean-answer-to" value="Очистить">
</div>


<form method="post">
{% csrf_token %}
    {{ comment_form.as_p }}

<input type="submit" value="Отправить">
</form>
</div>
<script>
         $(function() {
            $('.comment-mark-button').click(function(e) {
                $(this).addClass('hidden');
                var id = this.id;
                var level = $(this).closest('.full-comment').find('.comment-level').val();
                var pk = id.replace('comment-mark-button-level-' + level + '-pk-', '');
                $('#comment-unmark-button-level-' + level + '-pk-' + pk).removeClass('hidden');
                var data = {'pk': pk, 'action': 'comment-mark'};
                commentAjaxAction(data, '#comment-current-mark-span-level-' + level + '-pk-');
            });

            $('.comment-unmark-button').click(function(e) {
                $(this).addClass('hidden');
                var id = this.id;
                var level = $(this).closest('.full-comment').find('.comment-level').val();
                var pk = id.replace('comment-unmark-button-level-' + level + '-pk-', '');
                $('#comment-mark-button-level-' + level + '-pk-' + pk).removeClass('hidden');
                var data = {'pk': pk, 'action': 'comment-unmark'};
                commentAjaxAction(data, '#comment-current-mark-span-level-' + level + '-pk-');
            });



            $('.comment-complain-button').click(function(e) {
                $(this).addClass('hidden');
                var id = this.id;
                var level = $(this).closest('.full-comment').find('.comment-level').val();
                var pk = id.replace('comment-complain-button-level-' + level + '-pk-', '');
                $('#comment-uncomplain-button-level-' + level + '-pk-' + pk).removeClass('hidden');
                var data = {'pk': pk, 'action': 'comment-complain'};
                commentAjaxAction(data, '#comment-current-complain-span-level-' + level + '-pk-');
            });

            $('.comment-uncomplain-button').click(function(e) {
                $(this).addClass('hidden');
                var id = this.id;
                var level = $(this).closest('.full-comment').find('.comment-level').val();
                var pk = id.replace('comment-uncomplain-button-level-' + level + '-pk-', '');
                $('#comment-complain-button-level-' + level + '-pk-' + pk).removeClass('hidden');
                var data = {'pk': pk, 'action': 'comment-uncomplain'};
                commentAjaxAction(data, '#comment-current-complain-span-level-' + level + '-pk-');
            });



         function commentAjaxAction(action_data, selector){



                $.ajax({
                    type: 'POST',//$(frm).attr('method'),
                    url: '{% url 'history-ajax-save' %}',
                    data: action_data,
                    success: function (data) {
                    $(selector + action_data.pk).html(data);
                    },
                    error: function (data) {

                    }
                });

                   }


        $('.answer-to-comment').click(function(e) {
                var id = this.id;
            var level = $(this).closest('.full-comment').find('.comment-level').val();
            var pk = id.replace('answer-to-comment-level-' + level + '-pk-', '');


            $('#id_parent').val(pk);
                $('#id_body').focus();
                $('#answer-to-block').removeClass('hidden');
                var commentBody = $('#comment-body-level-' + level + '-pk-' + pk).html();
                $('#answer-to-span').html(commentBody);

            });


        $('#clean-answer-to').click(function(e) {
                $('#id_parent').val('');
                $('#answer-to-block').addClass('hidden');
                $('#answer-to-span').html('');

            });


         });

</script>

{% endblock content %}

