{% extends 'prozdo_main/base/base.html' %}
{% load prozdo_main_tags %}
{% block content %}
{% if post_type == 'drug' or post_type == 'cosmetics' %}
    <div>
    <form>
    {{   filter_form }}
    <input type="submit" class="btn btn-success">
</form>
    {% post_alphabet post_type %}
</div>
    {% endif %}
    <div class="clearfix">
    {% for obj in objs %}
{% include 'prozdo_main/post/_post_list_grid.html' with obj=obj %}
{% endfor %}
</div>
 {% include 'prozdo_main/base/_pager.html' %}
{% endblock content %}