{% load prozdo_main_tags %}
<div class="pager">

        <ul class="pagination">
        {% for page in paginator.page_range %}

        {% if page ==  page_obj.number %}

            <li class="active">
                <span>{{ page }}</span>
            </li>

        {% else %}
        <li>
         {% if url %}
        <a class="pager_link" id="pager-link-{{ page }}" href="{{ url }}{% get_get_parameters_exclude page=page %}">{{ page }}</a>
         {% else %}
         <a class="pager_link" id="pager-link-{{ page }}" href="{{ request.path }}{% get_get_parameters_exclude page=page %}">{{ page }}</a>
             {% endif %}
        {% endif %}
        </li>
        {% endfor %}
        </ul>


    </div>