<div>
<a href="{{ main }}">Главная</a>
</div>
<div>
<a href="{{ drugs }}">Отзывы о лекарствах</a>
</div>
<div>
<a href="{{ cosmetics }}">Аптечная косметика</a>
</div>
<div>
<a href="{{ components }}">Состав препаратов</a>
</div>
<div>
<a href="{{ blog }}">Статьи о здоровье</a>
</div>
{% if current_user.is_authenticated %}
<div>
<a href="{{ user_profile }}">{{ current_user }}</a>
</div>
<div>
<a href="{{ logout }}">Выйти</a>
</div>
 {% else %}
<div>
<a href="{{ login }}">Войти</a>
</div>
<div>
<a href="{{ signup }}">Зарегистрироваться</a>
</div>
{% endif %}
