{% load cache %}
{% cache 86400 comments_portlet portlet_type %}
{% for comment in comments %}
<div class="portlet-item">
    <p>
    {% if comment.cached_user.is_authenticated %}
     <a class="user" href="{{ comment.cached_user.get_absolute_url }}">{{ comment.cached_user }}</a>
    {% else %}
        <span class="guest">{{ comment.username }}</span>
    {% endif %}
</p>
 <p class="date">{{ comment.created }}</p>


    <p class="comment">
<a href="{{ comment.get_absolute_url }}">{{ comment }}</a>
</p>

<div class="comments-portlet-bottom">
<p>
    <label>Посчитали полезным: </label>{{ comment.comment_mark }}
  </p>
    <p>
   {% if comment.cached_post.is_drug %}
       <label>Препарат: </label>
        {% else %}
       <label>Тема: </label>
        {% endif %}
    <a href="{{ comment.cached_post.get_absolute_url }}">{{ comment.cached_post }}</a>
</p>
</div>
</div>
{% endfor %}
{% endcache %}