{% load prozdo_main_tags %}
<div class="single-comment single-comment-with-level-{{ comment.get_level }}">


{% if comment.parent and not show_tree and comment.get_level == 1 %}
<div>
    <label>В ответ на:</label>{% include 'prozdo_main/widgets/_tiny_comment.html' with comment=comment.parent %}
</div>
{% endif %}
{% if comment.user %}
<div> {% get_verbose_field_name comment 'user' %}: {{ comment.user }}</div>
{% endif %}
        <div> {% get_verbose_field_name comment 'username' %}:
            {{ comment.username }}
        </div>
        <div> {% get_verbose_field_name comment 'email' %}: {{ comment.email }}</div>
        <div> {% get_verbose_field_name comment 'body' %}: <span class="comment-body" id="comment-body-level-{{ comment.get_level }}-pk-{{ comment.pk }}">{{ comment.body }}</span></div>



<input type="hidden" value="{{ comment.get_level }}" class="comment-level">
<input type="hidden" value="{{ comment.pk }}" class="comment-pk">
<div class="comment-current-mark" id="comment-current-mark-level-{{ comment.get_level }}-pk-{{ comment.pk }}">Отзыв сочли полезным: <span id="comment-current-mark-span-level-{{ comment.get_level }}-pk-{{ comment.pk }}">{{ comment.comment_mark }}</span></div>
        {% if can_mark %}
         <input class="comment-unmark-button hidden" type="button" id="comment-unmark-button-level-{{ comment.get_level }}-pk-{{ comment.pk }}" value='Отозвать оценку'>
         <input class="comment-mark-button" type="button" id="comment-mark-button-level-{{ comment.get_level }}-pk-{{ comment.pk }}" value='Отзыв полезен'>
        {% elif is_author and comment.user.is_authenticated %}
         <div>Вы не можете голосовать за свой отзыв</div>
        {% elif can_unmark %}
        <input class="comment-unmark-button" type="button" id="comment-unmark-button-level-{{ comment.get_level }}-pk-{{ comment.pk }}" value='Отозвать оценку'>
        <input class="comment-mark-button hidden" type="button" id="comment-mark-button-level-{{ comment.get_level }}-pk-{{ comment.pk }}" value='Отзыв полезен'>
        {% endif %}

        <div class="comment-current-complain" id="comment-current-complain-level-{{ comment.get_level }}-pk-{{ comment.pk }}">Жалоб: <span id="comment-current-complain-span-level-{{ comment.get_level }}-pk-{{ comment.pk }}">{{ comment.complain_count }}</span></div>
        {% if can_complain %}
         <input class="comment-uncomplain-button hidden" type="button" id="comment-uncomplain-button-level-{{ comment.get_level }}-pk-{{ comment.pk }}" value='Отозвать жалобу'>
         <input class="comment-complain-button" type="button" id="comment-complain-button-level-{{ comment.get_level }}-pk-{{ comment.pk }}" value='Пожаловаться на отзыв'>
        {% elif can_uncomplain %}
        <input class="comment-uncomplain-button" type="button" id="comment-uncomplain-button-level-{{ comment.get_level }}-pk-{{ comment.pk }}" value='Отозвать жалобу'>
        <input class="comment-complain-button hidden" type="button" id="comment-complain-button-level-{{ comment.get_level }}-pk-{{ comment.pk }}" value='Пожаловаться на отзыв'>
        {% endif %}

        <input type="button" class="answer-to-comment" id="answer-to-comment-level-{{ comment.get_level }}-pk-{{ comment.pk }}" value="Ответить">

 {% if comment.childs.get_available.exists and comment.get_level == 1%}
     {% if show_tree %}
     <input type="button" class="show-comment-tree hidden" id="show-comment-tree-level-{{ comment.get_level }}-pk-{{ comment.pk }}" value="Развернуть ответы({{ comment.childs.count }})">
    <input type="button" class="hide-comment-tree" id="hide-comment-tree-level-{{ comment.get_level }}-pk-{{ comment.pk }}" value="Свернуть ответы({{ comment.childs.count }})">

     {% else %}
    {% if comment.childs.get_available.exists %}
        <div>Ответы на отзыв:</div>
         {% for child in comment.childs.get_available %}
         {% include 'prozdo_main/widgets/_tiny_comment.html' with comment=child %}
         {% endfor %}
{% endif %}
    <input type="button" class="show-comment-tree" id="show-comment-tree-level-{{ comment.get_level }}-pk-{{ comment.pk }}" value="Развернуть ответы({{ comment.childs.count }})">
    <input type="button" class="hide-comment-tree hidden" id="hide-comment-tree-level-{{ comment.get_level }}-pk-{{ comment.pk }}" value="Свернуть ответы({{ comment.childs.count }})">
     {% endif %}
{% endif %}
</div>


