<div>
<form>
{% for letter, count in alph.items %}
    {% if letter == current_letter %}
    <a class="btn btn-success active" href="{% url 'drug-list-letter' letter %}">{{ letter }}({{ count }})</a>
    {% else %}
     <a class="btn btn-success" href="{% url 'drug-list-letter' letter %}">{{ letter }}({{ count }})</a>
    {% endif %}
{% endfor %}
{% if current_letter %}
<a class="btn btn-success" href="{{ url }}">Все({{ total_count }})</a>
{% else %}
<a class="btn btn-success active" href="{{ url }}">Все({{ total_count }})</a>
{% endif %}
</form>
</div>