<div class="col-lg-2 col-md-2 col-sm-2">
<a class="btn btn-success" href="{{ main }}">Главная</a>
</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<a class="btn btn-success" href="{{ drugs }}">Отзывы о лекарствах</a>
</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<a class="btn btn-success" href="{{ cosmetics }}">Аптечная косметика</a>
</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<a class="btn btn-success" href="{{ components }}">Состав препаратов</a>
</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<a class="btn btn-success" href="{{ blog }}">Статьи о здоровье</a>
</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<a class="btn btn-success" href="">Поиск</a>
</div>