{% load staticfiles %}
<div class="tiny-comment">
     <div>
{% if comment.cached_user %}
         <a href="{{ comment.cached_user.get_absolute_url }}">
    {% if comment.cached_user.thumb50 %}
             <img src="{{ comment.cached_user.thumb50 }}">
    {% else %}
      <img class="img-rounded" src="{% static "prozdo_main/images/guest.png" %}">
    {% endif %}
    {{ comment.cached_user }}</a>
    {% else %}
    <img class="img-rounded" src="{% static "prozdo_main/images/guest.png" %}">
    {{ comment.username }}
{% endif %}
</div>
    <span class='tiny-comment-body'>{{ comment }}</span>
</div>
