{% load staticfiles %}
<div class="tiny-comment">

{% if comment.user %}
         <a class="user" href="{{ comment.user.get_absolute_url }}">
    <img class="img-rounded" src="{{ comment.user.thumb50 }}">
     {{ comment.user }}</a>
    {% else %}
    <img class="img-rounded" src="{% static "prozdo_main/images/guest.png" %}">
    <span class="guest">{{ comment.username }}</span>
{% endif %}

    <span class='tiny-comment-body'>{{ comment }}</span>
<a href="{{ comment.get_absolute_url }}">Перейти к отзыву</a>
{% if not comment.body == comment.short_body %}
    <input type="button" value="Прочитать отзыв целиком" class="tiny-comment-show-full">
<input type="button" value="Скрыть" class="tiny-comment-hide-full hidden">
    {% endif %}

    <input type="hidden" value="{{ comment.pk }}" class="tiny-comment-pk">
</div>
