<div class="tiny-comment">
     <div>
<a href="{{ comment.user.get_absolute_url }}">
    <img src="{{ comment.user.image.thumb100 }}">
    {{ comment.user }}</a>

</div>
    <span class='tiny-comment-body'>{{ comment }}</span>
<a href="{{ comment.get_absolute_url }}">Перейти к отзыву</a>
{% if not comment.body == comment.short_body %}
    <input type="button" value="Прочитать отзыв целиком" class="tiny-comment-show-full">
<input type="button" value="Скрыть" class="tiny-comment-hide-full hidden">
    {% endif %}

    <input type="hidden" value="{{ comment.pk }}" class="tiny-comment-pk">
</div>
